<div class="individual-song">
    <div class="song-content">
        <div class="song-img-container">
            {% if not in_artist_page %}
                <img src="{{artist.artist_infos([x['S_artist_id']])[0]['U_thumbURL']}}" class="song-img" alt="">
            {% endif %}
        </div>
        <div class="song-content-details">
            <p class="song-title">{{x['S_title']}}</p>
            {% if not in_artist_page %}
            <a class="song-artist"
                href="/artist/{{artist.artist_infos([x['S_artist_id']])[0]['U_name']}}">{{artist.artist_infos([x['S_artist_id']])[0]['U_name']}}</a>
            {% endif %}
        </div>
    </div>
    <div class="song-extract">
        {% set path = x['S_path'].rsplit('/',1 )[1] %}
        {{x['S_price']}}€
    </div>
    <div class="song-extract with-tooltip" data-tooltip="Nombre d'acquisitions">
        {{x['S_buy_number']}} <img width="16" src="/static/icons/insights.svg" alt="" srcset="">
    </div>
    <div class="song-extract">
        <audio id="audio-{{x['S_id']}}" loop
        src="https://muse-fabric.s3.eu-west-3.amazonaws.com/chunks/CHUNK_{{ path }}">Audio non dispo</audio>
    <button class="play-btn" id="play_{{x['S_id']}}" onclick="play({{x['S_id']}})" ><img width="14" id="play-img-{{x['S_id']}}" src="/static/icons/play.svg" alt=""
            srcset=""></button>
    </div>
    <div class="song-buy">
        <form action="/s/pay" method="post">
            <input type="hidden" name="song_id" value="{{x['S_id']}}">
            <button class="btn">Acheter <img src="/static/icons/shop.svg" width="16" class="vs_icon" alt="">
            </button>
        </form>
    </div>
    <div class="song-purchase">
        {{ (x['S_length']//60)|int}}min {{(x['S_length'] - (x['S_length'] // 60) * 60)|int}} <img class="vs_icon"
            src="/static/icons/timer.svg" width="16">
    </div>
</div>