{% extends 'base.html' %}

{% block content %}
<div class="page-header p-h-with-illustration">
    <div>
        {{user['name']}}, votre compte artiste doit être finalisé !
    </div>
    <div><img width="150"
            src="/static/illustrations/DrawKit Vector Illustration Fun & Playful Finn Character/Color/SVG/DrawKit Vector Illustration Fun & Playful Finn Character (10).svg"
            alt="" srcset="">
    </div>
</div>
<form id="my-form" class="form-config" action="/u/sf" method="post">
    <div class="form-title">
        Apollo se lie avec Stripe pour pouvoir vous payer lors de la vente de vos oeuvres.
        <p class="form-description">
            Pour créer votre compte Stripe, vous devez remplir tous des champs si dessous en envoyer les documents justificatifs.
        </p>
    </div>
    <div class="center-form">
        <input type="hidden" name="token-account" id="token-account">
        <input type="hidden" name="token-person" id="token-person">
        <div class="left-form">
            <div class="form-group">
                <label class="form-label">
                    Prénom
                </label>
                <p class="form-description">
                    Indiquez le prénom mentionné sur votre carte d'identité ou passeport
                </p>
                <input id="inp-person-first-name" class="form-input" value="Martin">
            </div>
            <div class="form-group">
                <label class="form-label">
                    Nom de famille
                </label>
                <p class="form-description">
                    Indiquez le nom de famille mentionné sur votre carte d'identité ou passeport
                </p>
                <input id="inp-person-last-name" class="form-input" value="Tester">
            </div>
            <div class="form-group">
                <label class="form-label">
                    IBAN
                </label>
                <p class="form-description">
                    Faites vous payer directement sur votre compte bancaire
                </p>
                <input type="text" class="form-input" name="iban" value="FR1420041010050500013M02606">
            </div>
            <div class="form-group">
                <label class="form-label">
                    Date de naissance
                </label>
                <input type="date" class="form-input" name="dob">
            </div>
            <div class="form-group">
                <label class="form-label">
                    Documents justificatifs
                </label>
                <p class="form-description">
                    Carte d'identité ou passeport, photo nom et prénom visibles
                </p>
                <input type="file" id="id-file" class="form-input" name="id-file" accept=".jpeg,.jpg,.png"
                    title="Justificatif d'identité">
                <p class="form-description">
                    Justificatif de domicile contenant nom, prénom et adresse
                </p>
                <input type="file" id="add-file" class="form-input" name="add-file" accept=".jpeg,.jpg,.png"
                    title="Justificatif de domicile">
            </div>
        </div>
        <div class="right-form">
            <fieldset class="form-group">
                <legend class="form-label">Votre adresse</legend>
                <p class="form-description">Adresse étant mentionnée sur le justificatif de domicile</p>
                <label>
                    <span>Adresse</span>
                    <input id="inp-person-street-address1" class="form-input" value="132 rue victor hugo">
                </label>
                <label>
                    <span>Ville</span>
                    <input id="inp-person-city" class="form-input" value="bois-colombes">
                </label>
                <label>
                    <span>Région</span>
                    <input id="inp-person-state" class="form-input" value="hauts de seine">
                </label>
                <label>
                    <span>Code postal</span>
                    <input id="inp-person-zip" class="form-input" value="92270">
                </label>
            </fieldset>
            <p class="form-description">By clicking, you agree to the <a href="/connect-account/legal">Stripe Connected
                    Account Agreement</a>.</p>
            <button class="form-submit">Submit</button>
        </div>
    </div>
</form>
<script src="https://js.stripe.com/v3/"></script>
<script>
    // Assumes you've already included Stripe.js!
    const stripe = Stripe('pk_test_51Khst6LPL3RO6EtMjpTw61BdXkbvEoTwLlBaM6Johh8ozNehtjcam26jq5dilQvnFbNLh7eneltXnOSL3gXpdB8i00jLfyruNF');
    const myForm = document.querySelector('#my-form');
    myForm.addEventListener('submit', handleForm);


    async function handleForm(event) {
        console.log('go')
        event.preventDefault();

        const data = new FormData();
        data.append('file', document.querySelector('#id-file').files[0]);
        data.append('purpose', 'identity_document');
        const fileResult = await fetch('https://uploads.stripe.com/v1/files', {
            method: 'POST',
            headers: { 'Authorization': 'Bearer pk_test_51Khst6LPL3RO6EtMjpTw61BdXkbvEoTwLlBaM6Johh8ozNehtjcam26jq5dilQvnFbNLh7eneltXnOSL3gXpdB8i00jLfyruNF' },
            body: data,
        });
        const fileData = await fileResult.json();
        console.warn(fileData)

        const data2 = new FormData();
        data2.append('file', document.querySelector('#add-file').files[0]);
        data2.append('purpose', 'identity_document');
        const fileResult2 = await fetch('https://uploads.stripe.com/v1/files', {
            method: 'POST',
            headers: { 'Authorization': 'Bearer pk_test_51Khst6LPL3RO6EtMjpTw61BdXkbvEoTwLlBaM6Johh8ozNehtjcam26jq5dilQvnFbNLh7eneltXnOSL3gXpdB8i00jLfyruNF' },
            body: data2,
        });
        const fileData2 = await fileResult2.json();
        console.warn(fileData2)

        const accountResult = await stripe.createToken('account', {
            business_type: 'individual',
            individual: {
                first_name: document.querySelector('#inp-person-first-name').value,
                last_name: document.querySelector('#inp-person-last-name').value,
                address: {
                    line1: document.querySelector('#inp-person-street-address1').value,
                    city: document.querySelector('#inp-person-city').value,
                    state: document.querySelector('#inp-person-state').value,
                    postal_code: document.querySelector('#inp-person-zip').value,
                },
                email: "martin.tester@email.com",
                phone: "+33772411671",
                dob: {
                    day: 7,
                    month: 10,
                    year: 1999
                },
                verification: {
                    document: {
                        front: fileData.id,
                    },
                    additional_document: {
                        front: fileData2.id
                    },
                },
            },
            tos_shown_and_accepted: true,
        });

        if (accountResult.token) {
            document.querySelector('#token-account').value = accountResult.token.id;
            myForm.submit();
        }
    }
</script>
{% endblock %}