{% extends 'base.html' %}

{% block content %}
<div class="page-header">Payment réussi</div>
<div class="card">
    <div class="card-illustration">
        <img src="/static/images/illustration.svg" alt="success illustration">
    </div>
    <div class="card-body">
        <div class="card-title">
            Payment réussi
        </div>
        Vous venez de payer <code style="font-size: 110%;">{{intent['amount_received']/100}}€</code>. Voir le détails de la transaction <a href="/d">ici</a>.
    </div>
</div>
{% endblock %}