@import 'styles/base.css';
@import 'styles/section_index.css';
@import 'styles/form.css';
@import 'styles/buttons.css';
@import 'styles/song.css';
@import 'styles/account.css';
@import 'styles/error.css';
@import 'styles/modal.css';
@import 'styles/footer.css';


.card {
    display: flex;
    margin: 0 auto;
    border: solid 1px black;
    padding: 2em 2em;
    transition: all .2s;
    box-shadow: 5px 5px 0px 0px black;
}

.card:hover {
    transition: all .2s;
    box-shadow: 2px 2px 5px 0px black;
}


.card-body {
    align-self: center;
    align-items: center;
    margin-left: 2em;
}

.card-title {
    font-weight: 800;
}

.flash {
    position: absolute;
    border: solid 1px;
    padding: 1em 2em;
    top: 7%;
    right: 5%;
    background-color: rgba(255, 255, 255, 0.602);

    display: flex;
    justify-content: space-between;
    transition: all .2s;
}

.flash:hover {
    background-color: rgba(255, 255, 255, 0.763);
    transition: all .2s;
}

.flash-good {
    border-color: green;
}

.flash-bad {
    border-color: red;
}

.close-flash {
    margin-left: 10px;
    cursor: pointer;
}

.navbar {
    background-color: #fff988a5;
    color: black;
    font-weight: 600;
    display: flex;
    justify-content: space-around;
    -webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE10+/Edge */
    user-select: none;
    /* Standard */
}

.nav_bar_icon {
    margin-right: 10px;
    display: flex;
    align-items: center;
}

.nav-link {
    color: inherit;
    font-weight: normal;
    font-size: 90%;
    transition: all 0.2s;
}

.nav-link:hover {
    text-decoration: none;
    background-color: #ffb700;
    color: white;
    transition: all 0.2s;
}

.nav-link.active {
    background-color: #ffcc4c;
}

.nav-tab {
    /* height: 100%; */
    padding: 0.5em;
    flex: auto;
    text-align: center;
}

.nav-btn {
    background-color: #d44b0b;
    padding: 1em;
    border: solid 1px #963508;
}

.main-with-sidebar {
    display: flex;
}


.header-content {
    padding: 1em 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-big {
    display: flex;
    height: 90vh;
    min-height: fit-content;

    color: rgb(19, 19, 19);
}

.hb-no-bg {
    background-image: none !important;
    color: rgb(18, 18, 18);
}

.header-big-title {
    font-size: 400%;
    font-weight: 900;
    max-width: 60vw;
    margin-top: 6rem;
    word-spacing: 0.4rem;
    line-height: 3.8rem;
}

.landing-img {
    flex: 2;
    height: 90vh;
    background-image: url('/static/images/tape1.jpg');
    background-size: cover;
    background-position: center;
}

.header-sub-title {
    /* display: flex;
    justify-content: center; */
    /* text-align: center; */
    font-size: 250%;
    font-weight: bold;
    margin-top: 3rem;
    line-height: 3.8rem;
}


.header-button-space {
    margin-top: 30px;
    /* text-align: center; */
}

.header-button {
    cursor: pointer;
    border: none;
    background-color: #FFC127;
    font-size: 200%;
    padding: 1rem 2rem;
    color: rgb(45, 45, 45);
    /* border-radius: 10px; */
    font-weight: 800;
    border: solid 2px #ffb700;
    border-radius: 3px;
    transition: all 0.2s;
}

.header-button::after {
    content: url('/static/icons/expand_less.svg');
    display: inline-block;
    vertical-align: -10px;
    transition: all .2s;
}

.header-button:hover {
    transition: all 0.2s;
    transform: translate(-.25rem, -.25rem);
    box-shadow: .25rem .25rem #000;
}

.header-button:hover:after {
    transition: all .2s;
    transform: rotate(90deg);
    vertical-align: -10px;
}


.header-button:active {
    transform: translate(0, 0);
    box-shadow: none;
}

.header-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90vh;
    min-height: fit-content;
    color: rgb(19, 19, 19);
}

.header-center-title {
    max-width: fit-content;
    height: 10%;
    background: linear-gradient(to bottom, transparent 70%, #ffe800 50%);
}

#topnav_hamburger_icon {
    cursor: pointer;
}

.alert {
    display: none;
    text-align: center;
    padding: 1em;
    border: solid 1px;
    box-shadow: 5px 5px 0px 0px black;
}

.a-success {
    color: white;
    font-weight: 500;
    background-color: rgb(65, 127, 35);
    border-color: green;
}

.a-fail {
    color: white;
    font-weight: 500;
    background-color: rgb(212, 51, 51);
    border-color: red;
}

small {
    font-size: 70%;
    font-weight: 200;
}

.sidebar {
    background-color: #0068FF;
    color: white;
    flex: 0 auto;
    height: 100vh;
    width: 200px;
    /* background-color: var(--main-bg-color); */
    padding: 10px 0px;
    box-shadow: 0 6.4px 14.4px 0 rgba(0, 0, 0, .132), 0 1.2px 3.6px 0 rgba(0, 0, 0, .108);
    transition: all 0.2s;
}

.side-close {
    width: 0px;
    transition: all 0.2s;
}

.breadcrumb {
    font-size: small;
}


.container {
    flex: 1 auto;
}

.side-nav-list {
    list-style: none;
    padding-inline-start: 0px !important;
}

.side-nav-elem {
    padding: 5px 10px;
}

.side-nav-link {
    color: inherit;
}

.side-nav-elem:hover {
    background-color: var(--complementary-color);
    color: whitesmoke !important;
    transition: all 0.2s;
}

.vs_icon {
    vertical-align: -2px;
    margin-right: 5px;
}

.page-header {
    font-weight: 900;
    font-size: larger;
    letter-spacing: 0.1em;
    background-color: rgba(239, 239, 239, 0.193);
    /* background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.01), rgba(255, 255, 255, 1) 85%), radial-gradient(ellipse at top left,
        rgba(13,110,253, 0.5), transparent 50%),
        radial-gradient(ellipse at top right, rgba(255,228,132, 0.5), transparent 50%),
        radial-gradient(ellipse at center right, rgba(112.520718,44.062154,249.437846, 0.5), transparent 50%),
        radial-gradient(ellipse at bottom left, rgba(214,51,132, 0.5), transparent 50%); */
    border-bottom: solid 1px rgb(226, 226, 226);
}

.p-h-with-illustration {
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: space-evenly;
}

img {
    pointer-events: none;
}

.feed-img {
    max-height: 50px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    object-fit: cover;
}

[role=tooltip],
.hidetooltip.hidetooltip.hidetooltip+[role=tooltip] {
    visibility: hidden;
    position: absolute;
    top: 2rem;
    left: 2rem;
    background: rgb(46, 46, 46);
    color: white;
    border-radius: 4px;
    padding: 1em;
}

[aria-describedby]:hover,
[aria-describedby]:focus {
    position: relative;
}

[aria-describedby]:hover+[role=tooltip],
[aria-describedby]:focus+[role=tooltip] {
    visibility: visible;
}

.with-tooltip {
    position: relative;
}

.with-tooltip::before {
    content: attr(data-tooltip);
    position: absolute;
    color: white;
    padding: .5em;

    font-size: small;
    top: 130%;
    clip-path: circle(0em at center);
    overflow: hidden;
    transition: 300ms all ease-in;
}

.with-tooltip:hover::before {
    clip-path: circle(20em at center);
    border: solid 1px rgb(0, 0, 0);
    border-radius: 3px;
    background-color: #d44b0b;
}

img.green {
    filter: invert(15%) sepia(97%) saturate(4536%) hue-rotate(143deg) brightness(88%) contrast(103%);
}

img.red {
    filter: invert(34%) sepia(69%) saturate(5536%) hue-rotate(346deg) brightness(105%) contrast(103%);
}