{% set active_tab = 'account' %}
{% extends 'base.html' %}
{% block content %}

<div class="account-content">
    <div class="breadcrumb">
        <a href="/">Apollo</a> > <a href="">Mon compte</a>
    </div>
    <div class="account-header">
        <div class="account-propic">
            <img class="propic" src="{{user['thumbUrl']}}" alt="">
        </div>
        <div class="account-infos">
            <p class="account-username">
                Hello, {{user['name']}}
            </p>
            <a href="{{user['website']}}">{{user['website']}}</a>
            <div class="account-stats">
                <p class="account-stat-item">{{user['followings']}} abonnements</p>
                {% if user['type'] == 'A' %}
                <p class="account-stat-item">{{user['followers']}} abonnés</p>
                <p class="account-stat-item">{{user['publis']}} musiques publiées</p>
                {% endif %}
                <p class="account-stat-item">{{downloads}} musiques aquise</p>
            </div>
        </div>
    </div>

    <div class="open-advanced" onclick="show_settings()">
        <img src="/static/icons/settings.svg" class="vs_icon" alt="">
        Paramètres
    </div>
    <div class="advanced-settings" id="advanced-sets" style="display: none;">
        <div class="form-content" style="margin-top: 0;">
            <form class="center-form" action="/d/e" method="post">
                <div class="left-form">
                    <div class="form-group">
                        <label for="" class="form-label">
                            Email
                        </label>
                        <input type="email" name="email" value="{{user['email']}}" required class="form-input"
                            placeholder="Votre email est requis" id="">
                    </div>
                    <div class="form-group">
                        <label for="" class="form-label">
                            Nom d'utilisateur
                        </label>
                        <input type="text" name="name" value="{{user['name']}}" required class="form-input"
                            placeholder="Votre nom d'utilisateur est requis" id="">
                    </div>
                    {% if user['type'] == 'A' %}
                    <div class="form-group">
                        <label for="" class="form-label">
                            Site web
                        </label>
                        <input type="text" name="website" value="{{user['website']}}" class="form-input"
                            placeholder="Faites votre pub" id="">
                    </div>
                    {% endif %}
                </div>
                <div class="right-form">
                    <div class="form-group">
                        <label for="" class="form-label">
                            Vibilité publique
                        </label>
                        <div class="form-group fg-no-margin" style="margin-top: 1em;">
                            <label class="checkbox green">
                                <input type="checkbox" id="e_visible" name="e_visible" {% if user['e_visible']
                                    %}checked{% endif %} /><span class="indicator"></span>
                                Email de contact
                            </label>
                            <input type="text" disabled class="form-input" name="visible_email" id="visible-email"
                                value="{% if user['visible_email'] %}{{ user['visible_email'] }}{% endif %}">
                        </div>
                        <div class="form-group" style="margin-top: 1em;">
                            <label class="checkbox green">
                                <input type="checkbox" id="d_visible" name="d_visible" {% if user['public_down']
                                    %}checked{% endif %} /><span class="indicator"></span>
                                Téléchargements
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email" class="form-label">
                            Photo de profil
                        </label>
                        <input type="file" class="form-input" id="pro-pic" value="coucou">
                    </div>
                    <div class="form-group fg-no-margin">
                        <button class="form-submit" id="confirm">
                            Enregistrer
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% if user['type'] == 'A' %}
{% for x in feed %}
{% include 'partials/song.html' %}
{% endfor %}
{% else %}
<div class="song-proposal">
    <div>
        Il n'y a rien à afficher ici pour votre profil :/
        <div class="song-p-content">
            Vous cherchez vos acquisitions ?
        </div>
        <div>
            <a href="/d" class="to-explore-btn">
                Acquisitions <img src="/static/icons/book.svg" alt="iconne de livre" class="vs_icon" width="20"
                    srcset="">
            </a>
        </div>
    </div>
</div>
{% endif %}
<script>
    $("#visible-email").prop('disabled', !($("#e_visible").is(':checked')));
    $('#e_visible').change(
        function () {
            if ($(this).is(':checked')) {
                $("#visible-email").prop('disabled', false);
            }
            else {
                $("#visible-email").prop('disabled', true);
            }
        });


    function show_settings() {
        var advanced = $("#advanced-sets")
        if (advanced.is(':visible')) {
            advanced.hide()
        } else {
            $("#advanced-sets").show()
        }
    }
</script>
{% endblock %}