{% extends 'base.html' %}
{% block title %}{% block header %}Compte Apollo de {{artist['U_name']}}{% endblock %}{% endblock %}
{% block content %}
<div class="account-nav"></div>
<div class="account-content">
    <div class="breadcrumb">
        <a href="/">Apollo</a> > <a href="">Profil de {{artist['U_name']}}</a>
    </div>
    <div class="account-header">
        <div class="account-propic">
            <img class="propic" src="{{artist['U_thumbURL']}}" alt="">
        </div>
        <div class="account-infos">
            <p class="account-username">
                @{{artist['U_name']}}
            </p>

            <a href="{{artist['website']}}">{{artist['website']}}</a>
            {% if artist['U_e_visible'] %}
            <p>Contacter : <a href="mailto:{{artist['U_visible_email']}}">e-mail</a></p>
            {% endif %}

            <div class="account-stats">
                <p class="account-stat-item">{{artist['U_followers']}} abonné{% if artist['U_followers'] > 1 %}s{% endif
                    %}</p>
                <p class="account-stat-item"><span id="followings-nbr">{{artist['U_followings']}}</span> abonnement{% if
                    artist['U_followings'] > 1 %}s{% endif %}</p>
                <p class="account-stat-item">{{artist['U_publis']}} musique{% if artist['U_publis'] > 1 %}s{% endif %}
                    publiée{% if artist['U_publis'] > 1 %}s{% endif %}</p>
            </div>
        </div>
    </div>
    <button onclick="switch_following()" id="follow-btn" class="follow-btn">
        {% if following %}
        Se désabonner <img class="red" style=" height:70%;" src="/static/icons/user-x.svg" alt="" srcset="">
        {% else %}
        S'abonner <img class="green" style="height:70%;" src="/static/icons/user-plus.svg">
        </svg>
        {%endif%}
    </button>
    <small id="request-msg"></small>
</div>
<div id="content">
</div>
<!-- <button onclick="processAjaxData()" >Next</button>
<script>
function processAjaxData(){
     document.getElementById("content").innerHTML = "<h1>New page</h1>";
     document.title = "new title";
     window.history.pushState({"html":"<h1>New page</h1>","pageTitle":"New title"},"", "/explore");
 }
</script> -->
<div class="songs-feed" id="songs-feed">
    <small id="songs-msg">Chargement des musiques</small>
</div>
<script>
    
    var following = ('{{following}}'=='True')
    function switch_following() {
        $("#request-msg").text('Chargement...')
        fetch(
            `${window.origin}/u/f/{{artist['U_id']}}`,
            {
                'method': 'GET'
            }
        ).then(response => response.json())
            .then(
                (data) => {
                    if (data.status == 'ok') {
                        $("#request-msg").text('')
                        following = !following
                        if (following) {
                            $("#follow-btn").html(`Se désabonner <img class="red" style="height:70%;" src="/static/icons/user-x.svg">`)
                        }
                        else {
                            $("#follow-btn").html(`S'abonner <img class="green" style="height:70%;" src="/static/icons/user-plus.svg">`)
                        }
                    }
                    else {
                        console.warn(data)
                    }
                }
            )
    }

    $(document).ready(() => {
        fetch(
            `${window.origin}/s/a/{{artist['U_id']}}`,
            {
                'method': 'GET'
            }
        ).then(response => response.json())
            .then(
                (data) => {
                    if (data.status == 'ok') {
                        $("#songs-msg").remove()
                        console.log(data.songs)
                        var songs = data.songs
                        for (let x = 0; x < data.songs.length; x++) {
                            var song = songs[x]
                            var time = song.S_length
                            var minutes = Math.floor(time / 60)
                            var seconds = time - minutes * 60;
                            var lastIndex = song.S_path.lastIndexOf('/')
                            var path = song.S_path.slice(lastIndex + 1);
                            console.log('CHUNK  :', path)
                            console.log('GETTING SONG TEMPLATE...')
                            song_request(song).then(
                                (res) => {
                                    $("#songs-feed").append(res)
                                }
                            )
                        }
                    }
                }
            )
    })
    async function song_request(data) {
        console.log('SONG TEMPLATE')
        const result = await fetch(
            '/s/render', {
            method: 'post',
            body: JSON.stringify({ song: data }),
            headers: {
                'Content-Type': 'application/json'
            },
        }
        )
        const template = await result.text()
        return template
    }
</script>
<script>
    function play(id) {
        if (!document.getElementById(`audio-${id}`).paused) {
            document.getElementById(`audio-${id}`).pause();
            $(`#play-img-${id}`).attr('src', '/static/icons/play.svg')
        } else {
            $(`#play-img-${id}`).attr('src', '/static/icons/pause.svg')
            document.getElementById(`audio-${id}`).play();
        }

    }
</script>
{% endblock %}