<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <link rel="stylesheet" href="/static/main.css">
    <title>{% block title %}{% endblock %}</title>
    <link rel="icon" href="/static/page_icons/apollo_small.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/static/page_icons/apollo_small.ico"/>
    <link rel="apple-touch-icon" href="/static/page_icons/apollo.png"/>
    <script src="/static/scripts/errors.js"></script>
</head>

<body>

    <div class="navbar">
        <div class=" nav-tab" id="topnav_hamburger_icon" href="javascript:void(0);" onclick="showResponsiveMenu()">
            <svg width="16" height="16" viewBox="0 0 16 16" fill="black" xmlns="http://www.w3.org/2000/svg">
                <path d="M16 5H0V4H16V5ZM16 13H0V12H16V13ZM16 8.99218H0V8H16V8.99218Z" fill="black" />
            </svg>
        </div>
        {% if not_c %}
        <a class="nav-link nav-tab  {% if active_tab == 'register' %}active{% endif %}" href="/register">S'inscrire</a>
        <a class="nav-link nav-tab {% if active_tab == 'login' %}active{% endif %}" href="/login">Se Connecter</a>
        {% else %}
        {% if user['type'] == 'A' %}
        <a class="nav-link nav-tab {% if active_tab == 'new' %}active{% endif %}" href="/new-post">Nouvelle oeuvre</a>
        {% endif %}
        <a class="nav-link  nav-tab {% if active_tab == 'explore' %}active{% endif %}" href="/explore">Explorer</a>
        <a class="nav-link nav-tab {% if active_tab == 'account' %}active{% endif %}" href="/account">Mon profile</a>
        {% endif %}
        <a class="nav-link nav-tab {% if active_tab == 'feed' %}active{% endif %}" href="/">Les Sons
            <?xml version="1.0" encoding="iso-8859-1"?>
            <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                x="0px" y="0px" width="17px" height="17px" viewBox="0 0 47 47"
                style="enable-background:new 0 0 47 47; vertical-align: -3px; margin-left: 5px;" xml:space="preserve"
                fill="currentColor">
                <g>
                    <g>
                        <g>
                            <path d="M2.41,31.936c-1.331,0-2.41-1.078-2.41-2.41v-12.05c0-1.331,1.079-2.41,2.41-2.41s2.41,1.079,2.41,2.41v12.05
                                C4.82,30.855,3.741,31.936,2.41,31.936z" />
                        </g>
                        <g>
                            <path d="M9.44,37.962c-1.331,0-2.41-1.079-2.41-2.41V11.448c0-1.331,1.079-2.41,2.41-2.41s2.41,1.079,2.41,2.41v24.104
                                C11.851,36.883,10.771,37.962,9.44,37.962z" />
                        </g>
                        <g>
                            <path d="M16.47,34.948c-1.331,0-2.41-1.079-2.41-2.41V14.462c0-1.331,1.079-2.41,2.41-2.41c1.331,0,2.411,1.079,2.411,2.41
                                v18.076C18.88,33.869,17.801,34.948,16.47,34.948z" />
                        </g>
                        <g>
                            <path d="M23.5,40.975c-1.331,0-2.41-1.078-2.41-2.41V8.436c0-1.331,1.079-2.41,2.41-2.41s2.41,1.079,2.41,2.41v30.128
                                C25.91,39.896,24.831,40.975,23.5,40.975z" />
                        </g>
                        <g>
                            <path d="M30.529,47c-1.33,0-2.41-1.079-2.41-2.41V2.41c0-1.331,1.08-2.41,2.41-2.41c1.332,0,2.41,1.079,2.41,2.41v42.18
                                C32.939,45.921,31.861,47,30.529,47z" />
                        </g>
                        <g>
                            <path d="M37.561,37.962c-1.332,0-2.41-1.079-2.41-2.41V11.448c0-1.331,1.078-2.41,2.41-2.41c1.33,0,2.41,1.079,2.41,2.41v24.104
                                C39.971,36.883,38.891,37.962,37.561,37.962z" />
                        </g>
                        <g>
                            <path d="M44.59,28.923c-1.331,0-2.41-1.079-2.41-2.409v-6.026c0-1.331,1.079-2.41,2.41-2.41S47,19.157,47,20.488v6.026
                                C47,27.844,45.921,28.923,44.59,28.923z" />
                        </g>
                    </g>
                </g>
            </svg>
        </a>
        <a class="nav-link  nav-tab" href="/">Apollo</a>
    </div>
    </div>
    <div class="main-with-sidebar">
        <aside class="sidebar side-close" id="sidebar-id">
            <ul class="side-nav-list" id="sidebar-list-id" style="display: none;">
                <li class="side-nav-elem">
                    <a href="/" class="side-nav-link ">
                        <svg class="vs_icon" width="16" height="16" viewBox="0 0 16 16" fill="currentColor"
                            xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" fill="currentColor"
                                d="M8.36027 1.37L14.7203 7.16999L14.0103 7.87999L13.0003 6.96411V13.49L12.5003 13.99H9.50028L9.00028 13.49V9.99002H7.00028V13.49L6.50028 13.99H3.50028L3.00028 13.49L3.00028 6.97166L2.00028 7.87999L1.29028 7.16999L7.64027 1.37H7.65027H8.35027H8.36027ZM4.00028 6.06332V12.99H6.00028V9.49002L6.50028 8.99001H9.50028L10.0003 9.49002V12.99H12.0003V6.05729L8.00027 2.43L4.00028 6.06332Z"
                                fill="#424242" />
                        </svg>Home
                    </a>
                </li>
                <li class="side-nav-elem">
                    <a href="/register" class="side-nav-link">
                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M11.0203 3.77L11.0303 3.76L12.0203 4.75V2.5L11.5203 2H2.52025L2.01025 2.5V2.99301L2.00024 3.00003V13.29L2.36024 13.75L7.36024 15.47L8.00024 15V14H11.5203L12.0203 13.5V11.25L11.0203 12.25V13H8.00024V4.71003L7.67024 4.25003L4.03644 3H7.01025H11.0203V3.77ZM7.00024 14.28L3.00024 12.94V3.72003L7.00024 5.06003V14.28ZM10.0902 7.53005H15.0602V8.53005H10.1302L11.7202 10.1301L11.0102 10.8301L8.54022 8.37005V7.66005L11.0302 5.18005L11.7302 5.88005L10.0902 7.53005Z"
                                fill="currentColor" />
                        </svg>

                        S'inscrire</a>
                </li>
                <li class="side-nav-elem">
                    <a href="/logout" class="side-nav-link">
                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M11.0203 3.77V5.33L12.0203 4.34V2.5L11.5203 2H2.52026L2.02026 2.5V2.98599L2.00024 3.00003V13.29L2.36024 13.75L7.36024 15.47L8.00024 15V13.9999H11.5203L12.0203 13.4999V12.9999V11.6899L11.0203 10.6899V12.9999H8.00024V4.71003L7.67024 4.25003L4.03644 3H7.02026H11.0203V3.77ZM7.00024 14.28L3.00024 12.94V3.72003L7.00024 5.06003V14.28ZM13.5202 8.48005H8.55023V7.48005H13.4802L11.8802 5.88005L12.5902 5.18005L15.0602 7.64005V8.35005L12.5702 10.8301L11.8702 10.1301L13.5202 8.48005Z"
                                fill="currentColor" />
                        </svg>

                        Se déconnecter</a>
                </li>
                <li class="side-nav-elem">
                    <a href="/d" class="side-nav-link">
                        <svg width="16" height="16" class="vs_icon" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M1.50024 14H14.5002L15.0002 13.5V9L12.2302 1.34L11.7602 1H4.27024L3.80024 1.33L1.00024 8.74V13.5L1.50024 14ZM14.0002 13H2.00024V10.02H4.55025L5.29025 11.27L5.72025 11.51H10.2902L10.7302 11.25L11.4202 10.02H14.0002V13ZM13.9782 9.02002H11.1202L10.6902 9.28002L10.0002 10.51H6.01025L5.26025 9.26002L4.83025 9.02002H2.00024V9L4.62024 2H11.4002L13.9782 9.02002Z" fill="currentColor"/>
                            </svg>                            
                        Acquisitions</a>
                </li>
                <li class="side-nav-elem">A</li>
                <li class="side-nav-elem">A</li>
            </ul>
        </aside>
        <div id="message-space">
            {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
            {% for category, message in messages %}
            <div class="flash flash-{{category}}" id="flash-id" title="Message : {{message}}">
                {{ message }}
                <div class="close-flash" onclick="close_flash()" title="Fermer le message">
                    <svg width="16" height="16" style="vertical-align: -2px;" viewBox="0 0 16 16" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M8.00028 8.70711L11.6467 12.3536L12.3538 11.6465L8.70739 8.00001L12.3538 4.35356L11.6467 3.64645L8.00028 7.2929L4.35384 3.64645L3.64673 4.35356L7.29317 8.00001L3.64673 11.6465L4.35384 12.3536L8.00028 8.70711Z"
                            fill="#424242" />
                    </svg>

                </div>
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}
        </div>
        <div class="container">
            {% block content %}{% endblock %}
        </div>
    </div>
    <center style="width: 100%; background: #f3f3f5;">

        <div class="email-container" style="max-width: 100vw; margin: 0 auto;">
            <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="max-width: 100vw; width:100%">
                <tr>
                    <td style="padding: 30px;" class="sm-p">
                        <table align="left" border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%">
                            <!-- Subscription Info : BEGIN -->
                            <tr>
                                <td
                                    style="padding-bottom: 10px; font-size: 12px; line-height: 15px; font-family: arial, sans-serif; color: #9199A1; text-align: left;">
                                    Voici quelques liens utiles pour utiliser l'application et nous contacter
                                </td>
                            </tr>
                            <tr>
                                <td
                                    style="font-size: 12px; line-height: 15px; font-family: arial, sans-serif; color: #9199A1; text-align: left;">
                                    <a href="/support"
                                        style="color: #9199A1; text-decoration: underline;">Contacter via Apollo
                                    </a>&nbsp;&nbsp;&nbsp;&nbsp;
                                    <a href="mailto:martinsites@protonmail.com"
                                        style="color: #9199A1; text-decoration: underline;">Email
                                        us</a>&nbsp;&nbsp;&nbsp;&nbsp;
                                    <a href="Urls.Legal.PrivacyPolicy"
                                        style="color: #9EA3A9; text-decoration: underline;">Privacy</a>&nbsp;&nbsp;&nbsp;&nbsp;
                                    <span id="version">Apollo v.{{version}}</span>
                                </td>
                            </tr>
                            <!-- Subscription Info : BEGIN -->
                            <!-- HR line : BEGIN -->
                            <tr>
                                <td style="padding: 30px 0;" width="100%" class="sm-py">
                                    <table aria-hidden="true" border="0" cellpadding="0" cellspacing="0" role="presentation"
                                        style="width:100%">
                                        <tr>
                                            <td height="1" width="100%"
                                                style="font-size: 0; line-height: 0; border-top: 1px solid #D6D8DB;">&nbsp;
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <!-- HR line : END -->
                            <!-- Sender Info : BEGIN -->
                            <tr>
                                <td style="padding-bottom: 5px; text-align: left;">
                                    <img src="" align="left" alt="" border="0" width="111" height="22"
                                        style="display: block; font-family: arial, sans-serif; font-size: 12px; line-height: 12px; color: #3C3F44;">
                                </td>
                            </tr>
                            <tr>
                                <td
                                    style="padding-bottom: 5px; font-size: 12px; line-height: 15px; font-family: arial, sans-serif; color: #9199A1; text-align: left;">
                                    <strong>Apollo</strong>, <span class="unstyle-auto-detected-links">10 Rue Charles Moureu, 75013 - Paris, France</span></td>
                            </tr>
                            <!-- Sender Info : END -->
                            <!-- Heart : BEGIN -->
                            <tr>
                                <td>
                                    <table align="left" border="0" cellpadding="0" cellspacing="0" role="presentation"
                                        style="background:#ffffff; border-radius:1px; line-height:0px">
                                        <tr>
                                            <td>
                                                <div style="border-radius: 1px; border: 1px solid #D6D9DC; padding: 4px 6px 3px 6px; font-size: 11px; line-height: 11px; font-family: Consolas, monospace; color: #E06C77;"
                                                    title="because we care">&lt;3</div>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <!-- Heart : END -->
                        </table>
                    </td>
                </tr>
                <!-- Footer : END -->
            </table>
        </div>
    </center>
    
</body>
<script>
    function showResponsiveMenu() {
        var cls = document.getElementById("sidebar-id").classList
        if (!cls.contains('side-close')) {
            cls.add('side-close')
            document.getElementById('sidebar-list-id').style.display = 'none'
        } else {
            cls.remove('side-close')
            document.getElementById('sidebar-list-id').style.display = 'block'
        }
    }

    function close_flash() {
        $('#flash-id').hide()
    }

document.onkeyup = function (e){
    if (e.which == 77 && e.ctrlKey ){
        document.location.href = '/login'
    }
}


</script>

</html>