{% set active_tab = 'register' %}
{% extends 'base.html' %}
{% block title %}{% block header %}Finalisez votre compte Apollo{% endblock %}{% endblock %}
{% block content %}
<div class="form-content">
    <div class="form-title">
        {{ user.name }}, finalisez votre création à Apollo
    </div>
    <div class="center-form">
        <div class="left-form">
            <div class="form-group">
                <label for="email" class="form-label">
                    Adresse e-mail
                </label>
                <p class="form-description">
                    Utilisé pour la récupération de compte et certaines fonctions administratives (requis)
                </p>
                <input type="text" class="form-input disabled-input"
                    title="Vous ne pouvez plus changer l'addresse email." id="email" disabled required
                    value="{{ user.email }}">
            </div>
            <div class="form-group fg-no-margin">
                <label for="username" class="form-label">
                    Mot de passe
                </label>
                <p class="form-description">
                    Choisissez le mot de passe lié à votre compte. Il vous permettra de sécuriser votre compte. (requis)
                </p>
                <input type="password" class="form-input" id="password" required value=''>
            </div>
            <div class="form-group fg-no-margin">
                <p class="form-description">
                    Répétez votre mot de passe. (requis)
                </p>
                <input type="password" class="form-input" id="password2" required value=''>
            </div>
            <div class="form-group">
                <div class="open-advanced" onclick="show_settings()">
                    <img src="/static/icons/settings.svg" class="vs_icon" alt="">
                    Paramètres avancés
                </div>
                <div class="advanced-settings" id="advanced-sets" style="display: none;">
                    <div class="form-group">
                        <label for="" class="form-label">
                            Visibles publiquements:
                        </label>
                        <div class="form-group fg-no-margin" style="margin-top: 1em;">
                            <label class="checkbox green">
                                <input type="checkbox" id="e_visible" /><span class="indicator"></span>
                                Email de contact
                            </label>
                            <input type="text" disabled class="form-input" name="" id="visible-email" value="{{ user.email }}">
                        </div>
                        <div class="form-group" style="margin-top: 1em;">
                            <label class="checkbox green">
                                <input type="checkbox" id="d_visible" /><span class="indicator"></span>
                                Téléchargements
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="right-form">
            <div class="form-group">
                <label for="acc_type" class="form-label">
                    Type d'utilisateur
                </label>
                <button type="checkbox" class="switch-btn" name="" id="acc_type">Client </button>
            </div>
            <div class="form-group">
                <label for="email" class="form-label">
                    Votre site internet
                </label>
                <p class="form-description">
                    Faites aussi votre propre pub en affichant votre site, blog ou réseau social.
                </p>
                <input type="text" class="form-input" id="website" value="" placeholder="http://artist-blog.org">
            </div>
            <div class="form-group">
                <label for="email" class="form-label">
                    Photo de profil
                </label>
                <p class="form-description">
                    Soyez reconnaissables facilement sur Apollo grace à une photo bien à vous.
                </p>
                <input type="file" class="form-input" id="pro-pic" required>
            </div>
            <div class="form-group fg-no-margin">
                <button class="form-submit" id="confirm">
                    Finaliser mon compte
                </button>
            </div>
        </div>
    </div>
</div>
<script>
    var url = window.location.href.replace(/\/$/, '');
    var token = url.substr(url.lastIndexOf('/') + 1)
    var user_type = 'C'

    function is_req() {
        console.log('is req ?')
        var valid = true
        $('input').filter('[required]').each(function () {
            if ($(this).val() === '') {
                valid = false
                $(this).addClass('is_invalid')
            }
        });
        return valid
    }

    $("#e_visible").click(()=> {
        $("#visible-email").prop('disabled', function(i, v) { return !v; });
    })

    function verif_email() {
        if (!is_req()) {
            return false
        }
        var entry = {
            'password': $('#password').val(),
            'type': user_type,
            'website': $("#website").val(),
            'e_visible': $("#e_visible").val(),
            'd_visible': $("#d_visible").val(),     
            'public_email': $("#visible-email").val(),
            'token': token  
        }

        var uploadFile = document.getElementById('pro-pic').files[0]
        var data = new FormData()
        data.append('file', uploadFile)
        data.append('prenom', 'Martin')
        console.log(data)

        for (const [key, value] of Object.entries(entry)) {
            data.append(key, value)
        }

        for (var [key, value] of data.entries()) {
            console.log(key, value);
        }

        console.log('DATA FOR REQUEST = ', data.keys(), data.values())

        fetch(
            `${window.origin}/u/v`, {
            method: 'POST',
            'body': data
        }
        ).then(response => response.json())
            .then((data) => {
                if (data.success) {
                    window.location.href = '/u/sc'
                }
            })
        .catch((error)=> {
            flash('Erreur dans le processus, veuillez vérifier les informations.')
        })
    }

    function change_usr_type() {
        if (user_type == 'A') {
            user_type = 'C'
            $("#acc_type").text('Client')
        }
        else {
            user_type = 'A'
            $("#acc_type").text('Artiste')
        }
    }

    function show_settings() {
        var advanced = $("#advanced-sets")
        if (advanced.is(':visible')) {
            advanced.hide()
        } else {
            $("#advanced-sets").show()
        }
    }

    $("#acc_type").click(change_usr_type)
    $("#confirm").click(verif_email)
</script>
{% endblock %}