{% extends 'base.html' %}
{% block title %}{% block header %}Apollo rencontre une erreur{% endblock %}{% endblock %}
{% block content %}
<h1>Il semble qu'une erreur apparaisse...</h1>
<p id="error_content"></p>
<script>
    fetch('/static/errors/errors_{{error_type_file}}.json')
        .then(response => response.json())
        .then((data) => {
            $('#error_content').text(data['{{err}}'])
        }
        )
</script>
{% endblock %}