{% set active_tab = 'explore' %}
{% extends 'base.html' %}
{% block title %}{% block header %}Apollo - À la recherche d'une pépite{% endblock %}{% endblock %}
{% block content %}
<div class="page-header p-h-with-illustration">
    <div>
        Explorez de nouveaux artistes
    </div>
    <div>
        <img width="150"
            src="/static/illustrations/DrawKit Vector Illustration Fun & Playful Finn Character/Color/SVG/DrawKit Vector Illustration Fun & Playful Finn Character (15).svg"
            alt="">
    </div>
</div>
<div class="songs-feed">
    <div class="song-proposal">
        <div class="form-group">
            <label for="" class="form-label">Que cherchez vous ? <img src="/static/icons/search.svg" width="16"
                    class="vs_icon" alt="icone de recherche"></label>
            <input type="text" id="search-bar" class="form-input" aria-autocomplete="both" autofocus>
            <small>Tapez entrer pour lancer la recherche</small>
        </div>
    </div>
    <div id="search_result">

    </div>
</div>
<script>

    const queryString = window.location.search;
    const urlParams = new URLSearchParams(queryString);
    const query = urlParams.get('query');
    if (query != undefined) {
        if (query.length > 3) {
            $("#search-bar").val(query)
            search(query)
        }
    }

    $("#search-bar").bind("keypress", function (event) {
        if (event.which == 13) {
            event.preventDefault();
            if ($(this).val().length >= 3) {
                search($(this).val())
            }
        }
    });

    async function artist_infos(artist_id, elemId) {
        const res = await fetch(
            `/u/infos/${artist_id}`, {
            method: 'GET'
        }
        )
        var json = await res.json()
        json.artist[0].elemId = elemId
        console.log('JSON : ', json)
        return json.artist[0]
    }

    async function search(text) {
        text = text.replace(/ /g, "_");
        $("#search_result").empty()
        $("#search_result").append('Chargement...')
        if (text.includes("'") || text.includes('"')) {
            return
        }
        fetch(
            `${window.origin}/s/e/${text}`, {
            method: 'GET'
        }
        ).then(response => response.json())
            .then((data) => {
                var pervious_object = ""
                if (data.status == 'ok') {
                    $("#search_result").empty()
                    if (data.result.length === 0) {
                        $("#search_result").append('Aucun résultat à votre recherche 😢')
                    }
                    for (let x = 0; x < data.result.length; x++) {
                        var item = data.result[x]
                        var time = item.S_length
                        var minutes = Math.floor(time / 60)
                        var seconds = time - minutes * 60;

                        if (item.objectType == 'USER') {
                            var entry = {
                                thumb: item.U_thumbURL,
                                title: item.U_name,
                                link_id: item.U_id,
                                id: item.U_id
                            }
                        }
                        else {
                            var entry = {
                                thumb: undefined,
                                title: item.S_title,
                                link_id: item.S_artist_id,
                                id: item.S_id
                            }
                        }
                        if (pervious_object == 'SONG' && item.objectType == 'USER') {
                            $("#search_result").append('Profils : <hr>')
                        }
                        pervious_object = item.objectType
                        $("#search_result").append(`
                            <div class="individual-song">
                                    <div class="song-content">
                                        <div class="song-img-container">
                                            <img class="song-img" ${entry.thumb ? ` src="${entry.thumb}" ` : ``} id="artist_thumb_${entry.id}" alt="">
                                        </div>
                                        <div class="song-content-details">
                                            <p class="song-title">${entry.title}</p>
                                            ${item.objectType == 'SONG' ? `
                                                <p class="song-artist"><a id="artist_link_${entry.id}" >Visiter l'artiste</a></p>` : ''
                            }
                                        </div>
                                    </div>
                                    ${item.objectType == 'SONG' ? `
                                    <div class="song-extract">
                                        ${item.S_price}€
                                    </div>
                                    <div class="song-buy">
                                        <form action="/s/pay" method="post">
                                            <input type="hidden" name="song_id" value="${item['S_id']}">
                                            <button class="btn" >Acheter <img class="vs_icon"  src="/static/icons/shop.svg" width="16"> </button>
                                        </form>
                                    </div>
                                    <div class="song-purchase">
                                        ${minutes}min ${Math.floor(seconds)} <img class="vs_icon" src="/static/icons/timer.svg" width="16">
                                    </div>
                                    `: `
                                    <div class="song-extract">
                                        ${item.U_followers} abonné(s) <svg class="vs_icon" width="18" height="18" viewBox="0 0 18 18">
                                                                        <path
                                                                            d="M17 14c0 .44-.45 1-1 1H9a1 1 0 0 1-1-1H2c-.54 0-1-.56-1-1 0-2.63 3-4 3-4s.23-.4 0-1c-.84-.62-1.06-.59-1-3 .06-2.42 1.37-3 2.5-3s2.44.58 2.5 3c.06 2.41-.16 2.38-1 3-.23.59 0 1 0 1s1.55.71 2.42 2.09c.78-.72 1.58-1.1 1.58-1.1s.23-.4 0-1c-.84-.61-1.06-.58-1-3 .06-2.41 1.37-3 2.5-3s2.44.59 2.5 3c.05 2.42-.16 2.39-1 3-.23.6 0 1 0 1s3 1.38 3 4Z">
                                                                        </path>
                                                                    </svg>
                                    </div>
                                    <div class="song-buy">
                                        ${item.U_publis} musique(s) <img src="/static/icons/library_music.svg" width="16" >
                                    </div>
                                    <div class="song-purchase">
                                        <form action="/artist/${entry.title}" method="get">
                                            <button class="btn">Visiter <img class="vs_icon" src="/static/icons/eye.svg" width="16"> </button>
                                        </form>
                                    </div>
                                    `}
                                </div>
                        `)
                        if (item.objectType == 'SONG') {
                            const result = artist_infos(item.S_artist_id, entry.id).then(
                                (artist) => {
                                    $(`#artist_thumb_${artist.elemId}`).attr('src', artist.U_thumbURL)
                                    $(`#artist_link_${artist.elemId}`).attr('href', `/artist/${artist.U_name}`)
                                }
                            )
                        }
                    }
                }
                else {
                    $("#request_message").show()
                    console.warn(data.result)
                    $('#request_message').text(data.result)
                    $('#request_message').toggleClass('a-success a-fail');
                }
            })
    }
</script>
{% endblock %}