{% set active_tab = 'feed' %}
{% extends 'base.html' %}
{% block title %}{% block header %}Apollo - Flux d'activités{% endblock %}{% endblock %}
{% block content %}
<div class="page-header p-h-with-illustration">
    <div>
        Les titres faîchement sortis par votre artistes préférés.
    </div>
    <div><img width="150"
            src="/static/illustrations/DrawKit Vector Illustration Fun & Playful Finn Character/Color/SVG/DrawKit Vector Illustration Fun & Playful Finn Character (6).svg"
            alt="" srcset="">
    </div>
</div>
{% if user['followings'] < 1 %} <div id="followings-modal" class="modal">
    <div class="modal-content modal-body modal-w50">
        <span class="modal-close" title="Fermer (esc)" id="close-modal">&times;</span>
        <div class="modal-header">
            <label for="email" class="modal-title">
                C'est bien vide ici...
            </label>
            <p class="form-description">
                Recherchez les pépites qui vous plaisent et les tendances actuelles.<br>Ditent nous ce dont vous
                avez
                envie ;)
            </p>
        </div>
        <div class="form-group">
            <input type="text" class="form-input" id="query" placeholder="Que cherchez vous ici ?" required>
        </div>
        <div class="form-group fg-no-margin">
            <button class="form-submit" onclick="go_search()" style="color: white;">
                C'est parti
            </button>
        </div>
    </div>
    </div>
    <script>
        function go_search() {
            window.location.href = `/explore?query=${$("#query").val()}`
        }
        $("#followings-modal").show()

        $(document).on('keyup', (e) => {
            if (e.key == 'Escape') {
                $("#followings-modal").hide()
            }
        })

        window.onclick = function (event) {
            if (event.target == $("#followings-modal")) {
                $("#followings-modal").hide()
            }
        }
        $("#close-modal").click(() => { $("#followings-modal").hide() })
    </script>
    {% endif %}
    <div class="songs-feed">
        <div id="song-list">
            {% for x in feed['feed'] %}
            {% include 'partials/song.html' %}
            {% endfor %}
            {% if feed['feed']|length > 0%}
            {% set total = (feed['count'] / 7)|round(method='ceil')|int %}
            {% if feed['page'] > 1 %}
            <button class="btn-page" id="prev-btn" onclick="prev_page()">
                Précedent
            </button>
            {% endif %}
            Page {{ feed['page'] }}/{{ total }}
            {% if total > feed['page'] %}
            <button class="btn-page" id="next-btn" onclick="next_page()">
                Suivant
            </button>
            {%endif%}
            {% endif %}
        </div>
        <div class="song-proposal">
            <div>
                <div class="song-p-content">
                    Envie de faire de nouvelles découvertes ?
                </div>
                <div>
                    <a href="/explore" class="to-explore-btn" title="Allons faire de nouvelles découvertes !"
                        accesskey="e">
                        Explorer <svg style="width: 1em; vertical-align:-2px;" xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 496 512">
                            <path
                                d="M347.94 129.86L203.6 195.83a31.938 31.938 0 0 0-15.77 15.77l-65.97 144.34c-7.61 16.65 9.54 33.81 26.2 26.2l144.34-65.97a31.938 31.938 0 0 0 15.77-15.77l65.97-144.34c7.61-16.66-9.54-33.81-26.2-26.2zm-77.36 148.72c-12.47 12.47-32.69 12.47-45.16 0-12.47-12.47-12.47-32.69 0-45.16 12.47-12.47 32.69-12.47 45.16 0 12.47 12.47 12.47 32.69 0 45.16zM248 8C111.03 8 0 119.03 0 256s111.03 248 248 248 248-111.03 248-248S384.97 8 248 8zm0 448c-110.28 0-200-89.72-200-200S137.72 56 248 56s200 89.72 200 200-89.72 200-200 200z" />
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <script>

        function getUrlVars() {
            var vars = {};
            var parts = window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi, function (m, key, value) {
                vars[key] = value;
            });
            return vars;
        }

        var current_page = getUrlVars()['page']

        if (current_page === undefined) {
            current_page = 1
        }
        async function next_page() {
            $("#next-btn").addClass('loading')
            current_page++
            if (current_page > {% if total %}} { { total } } {% else %} 0 {% endif %}) {
            return
        }
        const res = await fetch(
            `/?page=${current_page}`
        )
        const page = await res.text()
        document.querySelector('html').innerHTML = page
        window.history.pushState({ "html": page, "pageTitle": `feed page ${current_page}` }, "", '/');

    }

        async function prev_page() {
            $("#prev-btn").addClass('loading')
            current_page--
            if (current_page < 1) {
                return
            }
            const res = await fetch(
                `/?page=${current_page}`
            )
            const page = await res.text()
            document.querySelector('html').innerHTML = page
            window.history.pushState({ "html": page, "pageTitle": `feed page ${current_page}` }, "", '/');
        }
    </script>
    <script>
        var player = {
            'playing': false,
            'currentId': Number,
            'currentAudio': undefined
        }
        function play(id) {
            var audio = document.getElementById(`audio-${id}`)
            if (player.playing && player.currentId != id) {
                player.currentAudio.pause()
                $(`#play-img-${player.currentId}`).attr('src', '/static/icons/play.svg')
            }
            player.currentId = id
            player.currentAudio = document.getElementById(`audio-${player.currentId}`)
            if (!audio.paused) {
                player.playing = false
                audio.pause();
                $(`#play-img-${id}`).attr('src', '/static/icons/play.svg')
            } else {
                player.playing = true
                $(`#play-img-${id}`).attr('src', '/static/icons/pause.svg')
                audio.play();
            }

        }
    </script>
    {% endblock %}