{% extends 'base.html' %}
{% block title %}Apollo - Home{% endblock %}
{% block content %}
<div class="header-big">
    <div class="header-content">
        <div class="header-big-title">
            Apollo
        </div>
        <div class="header-sub-title">
            Trouvez et partagez les nouvelles pépites musicales
        </div>
        <div class="header-button-space">
            <button class="header-button" onclick="register()">
                S'inscrire !
            </button>
        </div>
    </div>
    <div class="landing-img">
    </div>
</div>
<div class="section-index">
    <div class="section-title">
        Qu'est ce qu'au fait ? 
    </div>
    <div class="section-cards">
        <div class="card">
            <div class="card-title">
                Qu'est-ce que le Lorem Ipsum?
            </div>
            <div class="card-content">
                Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. 
            </div>
        </div>
        <div class="card">
            <div class="card-title">
                Pourquoi l'utiliser?
            </div>
            <div class="card-content">
                On sait depuis longtemps que travailler avec du texte lisible et contenant du sens est source de distractions, et empêche de se concentrer sur la mise en page elle-même.
            </div>
        </div>
    </div>
</div>
<script>
    function register(){
        document.location.href = '/register'
    }
</script>
{% endblock %}