{% set active_tab = 'login' %}
{% extends 'base.html' %}
{% block title %}{% block header %}Connexion à Apollo{% endblock %}{% endblock %}
{% block content %}
<script type="module">
    import * as jose from "/static/jose/index.js"
    const crypto = require('crypto')
    async function jobe() {
        var secretKey = await window.crypto.subtle.generateKey(
            {
                name: "AES-GCM",
                length: 256
            },
            true,
            ["encrypt", "decrypt"]
        )
        console.log(secretKey)
        const jwt = await new jose.EncryptJWT({ 'urn:example:claim': true })
            .setProtectedHeader({ alg: 'dir', enc: 'A256GCM' })
            .setIssuedAt()
            .setIssuer('urn:example:issuer')
            .setAudience('urn:example:audience')
            .setExpirationTime('2h')
            .encrypt(secretKey)

        console.log(jwt)
    }
    jobe()
    function changeBtnContent() {
        $("#confirm").text('Chargement...');
        $("#confirm").prop('disalble', true);
    }

    function submit_form() {

    }
</script>
<div class="form-content">
    <div class="form-title">
        Se connecter à Apollo
    </div>
    <div class="center-form">
        <form method="post" action="/u/l">
            <div class="form-group">
                <label for="email" class="form-label">
                    Adresse e-mail de l'utilisateur racine
                </label>
                <input type="text" class="form-input" name="email" autofocus autocomplete="email" id="email" required value="">
            </div>
            <div class="form-group ">
                <label for="username" class="form-label">
                    Mot de passe
                </label>
                <input type="password" class="form-input" name="password" required>
            </div>
            <div class="form-group fg-no-margin">
                <button class="form-submit submit-loading" id="confirm" type="submit" value="Se connecter"
                    onclick="changeBtnContent()">
                    Se connecter
                </button>
            </div>
        </form>
        <form action="/u/reset" method="POST">
            <input name="email_reset" id="email_reset">
            <input type="submit" value="Encore un problème de mot de passe ?">
        </form>
    </div>
</div>
<script>
    $('#email').on('keyup change', () => {
       $("#email_reset").val($("#email").val())
    });
</script>
{% endblock %}