{% extends 'base.html' %}
{% block content %}
<div class="page-header p-h-with-illustration">
    <div>
        Envie de partager une nouvelle pépite ?
    </div>
    <div>
        <img width="150"
            src="/static/illustrations/DrawKit Vector Illustration Fun & Playful Finn Character/Color/SVG/DrawKit Vector Illustration Fun & Playful Finn Character (13).svg"
            alt="">
    </div>
</div>
<div class="form-content" style="margin-top:5vh !important ;" id="song-post-form">
    <div class="form-title">
        Trois champs pour envoyer du lourd !
    </div>
    <div class="center-form">
        <div class="left-form">
            <div class="form-group">
                <label for="email" class="form-label">
                    Titre du son
                </label>
                <input type="text" class="form-input"
                    title="Ressortez du lot en utilisant d'abord des titres bien à vous." id="title" required
                    placeholder="La super instu de {{user['name']}}" value="">
            </div>
            <div class="form-group">
                <label for="acc_type" class="form-label">
                    Le son
                </label>
                {% if not user['premium_a'] %}
                <p class="form-description">
                    Types de fichiers acceptés : MP3. Passer à la <a href="/go-premium">version premium</a> pour pouvoir
                    uploader tout type de fichiers.
                </p>
                {% endif %}
                <input type="file" class="form-input" id="song-file" required
                    accept=".mp3, {% if user['premium_a'] %} audio/* {% endif%} ">
            </div>
            <div class="form-group fg-no-margin">
                <label for="email" class="form-label">
                    Et un prix
                </label>
                <input type="number" min="0" class="form-input" name="price" id="price" value="0"
                    placeholder="Votre pépite n'a pas de prix à nos yeux">
            </div> 
        </div>
        <div class="right-form">
            <div class="form-group">
                <label for="" class="form-label">
                    Tags
                </label>
                <input type="text" id="tag-add" class="form-input" placeholder="super-tag" autocapitalize="on">
                <p class="form-description">
                    3 tags minimum pour décrire votre son et vous faire remarquer (pas de « ' », « " », « < » ou «>»)
                </p>
                <ul class="tags-list" id="tags-list">
                </ul>
            </div>
            <div class="form-group fg-no-margin">
                <button class="form-submit" id="confirm">
                    Envoyer ça
                </button>
            </div>
            <p class="alert a-success" id="request_message">
                <svg width="16" height="16" viewBox="0 0 16 16" style="margin-right: 3px;" fill="white"
                    xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" fill="white" clip-rule="evenodd"
                        d="M14.4318 3.3232L5.96175 13.3232L5.17104 13.2874L1.82104 8.5174L2.63939 7.94268L5.61722 12.1827L13.6687 2.67688L14.4318 3.3232Z"
                        fill="#424242" />
                </svg>
                Pépite en ligne, parez vos caques 🎧
                <br>
                <small>(Vous allez être redirigé...)</small>
            </p>
        </div>
    </div>
</div>
<script>
    var duration
    var tags_list = []
    document.getElementById("song-file").addEventListener('change', function () {

        var file = this.files[0];
        var reader = new FileReader();

        reader.onload = function (event) {
            var audioContext = new (window.AudioContext || window.webkitAudioContext)();

            audioContext.decodeAudioData(event.target.result, function (buffer) {
                duration = buffer.duration;
            });
        };

        reader.onerror = function (event) {
            $("#confirm").prop('disable', true);
            $("#confirm").text('Fichier illisible :/')
            console.error("An error ocurred reading the file: ", event);
        };

        reader.readAsArrayBuffer(file);
    }, false);

    function is_req() {
        var valid = true
        $('input').filter('[required]').each(function () {
            if ($(this).val() === '') {
                valid = false
                $(this).addClass('is_invalid')
            }
        });

        if (tags_list.length < 3){
            valid=false
            $("#tag-add").addClass('is_invalid')
        }
        return valid
    }

    $("#tag-add").bind("keypress", function(event) {
            if(event.which == 13) {
                event.preventDefault();
                if ($(this).val().length >= 3 && !tags_list.includes( $(this).val() )){
                    add_tag($(this).val())
                }
            }
        });

    function del_tag(text){
        for (let x=0; x < tags_list.length; x++){
            if (tags_list[x] === text){
                delete tags_list[x]
                $(`#tag_item_${text}`).remove()
            }
        }
    }

    function add_tag(text){
        text = text.replace(/ /g,"_");
        if (text.includes("'") || text.includes('"')){
            return
        }
        tags_list.push(text)
        $("#tags-list").append(
            `<li id="tag_item_${text}" class="tag-item">
                ${text}<span class="close-tag" onclick="del_tag('${text}')"><svg class="close-tag-icon" width="16" height="16" style="vertical-align: -2px;" viewBox="0 0 16 16"  xmlns="http://www.w3.org/2000/svg" >
                    <path clip-rule="evenodd"
                        d="M8.00028 8.70711L11.6467 12.3536L12.3538 11.6465L8.70739 8.00001L12.3538 4.35356L11.6467 3.64645L8.00028 7.2929L4.35384 3.64645L3.64673 4.35356L7.29317 8.00001L3.64673 11.6465L4.35384 12.3536L8.00028 8.70711Z"
                        fill="rgb(239, 239, 239)" />
                </svg></span>
            </li>`)
        $("#tag-add").val("")
    }

    function send_post() {

        if (!is_req()) {
            return false
        }
        $("#confirm").prop('disable', true);
        $("#confirm").text('Chargement...')
        var entry = {
            'titre': $('#title').val(),
            'price': $('#price').val(),
            'tags' : tags_list
        }

        var uploadFile = document.getElementById('song-file').files[0]
        var data = new FormData()

        data.append('file', uploadFile)
        if (duration === undefined){
            $("#confirm").text('Fichier illisible, choisissez en un autre plutôt :/')
            return
        }
        data.append('duration',duration)

        for (const [key, value] of Object.entries(entry)) {
            data.append(key, value)
        }


        fetch(
            `${window.origin}/s/p`, {
            method: 'POST',
            'body': data
        }
        ).then(response => response.json())
            .then((data) => {
                if (data.result == 'ok') {
                    $("#confirm").hide()
                    $("#request_message").show()
                    window.setTimeout(() => { location.href = '/' }, 3000)
                }
                else{
                    $("#request_message").show()
                    console.warn(data.result)
                    $('#request_message').text(data.result)
                    $('#request_message').toggleClass('a-success a-fail');
                }
            })
    }
    $("#confirm").click(send_post)
</script>
{% endblock %}