{% set active_tab = 'register' %}
{% extends 'base.html' %}
{% block title %}{% block header %}Créer un compte Apollo{% endblock %}{% endblock %}
{% block content %}
<div id="captcha-modal" class="modal">
    <div class="modal-content modal-body modal-w50">
        <span class="modal-close" id="close-modal">&times;</span>
        <div class="form-group">
            <label for="email" class="form-label">
                Vérification de sécurité
            </label>
            <img src="/static/verification_letters/{{image_src}}" alt="Image de vérification">
            <p class="form-description">
                Veuillez entrer les caractères lus ci dessus
            </p>
            <input type="text" class="form-input" id="captcha" required>
        </div>
        <div class="form-group fg-no-margin">
            <button class="form-submit" id="confirm">
                Vérifier l'email
            </button>
        </div>
    </div>
</div>
<div class="form-content">
    <div class="form-title">
        S'inscrire à Apollo
    </div>
    <div class="center-form">
        <div class="left-form">
            <h3>Créez votre compte Apollo</h3>
            <div>
                En créant votre compte Apollo, vous pourrez, soit, vendre vos morceaux en ligne ou bien en acheter.
                Nous mettons en lien artistes et clients. <br>Et vous, lequel êtes-vous ?
            </div>
        </div>
        <div class="right-form">
            <div class="form-group">
                <label for="email" class="form-label">
                    Adresse e-mail
                </label>
                <p class="form-description">
                    Utilisé pour la récupération de compte et certaines fonctions administratives (requis)
                </p>
                <input type="text" class="form-input" id="email" require>
            </div>
            <div class="form-group fg-no-margin">
                <label for="username" class="form-label">
                    Nom d'utilisateur
                </label>
                <p class="form-description">
                    Choisissez le nom de votre compte. Vous pouvez modifier ce nom dans les paramètres de votre compte
                    après l'inscription. (requis)
                </p>
                <input type="text" class="form-input" id="username" required value='coucou'>
                <small id="username-check">Vérification du nom d'utilisateur..</small>
            </div>
            <div class="form-group fg-no-margin">
                <button class="form-submit" id="verif">
                    Vérifier l'email
                </button>
            </div>
        </div>
    </div>
</div>
<script>
    check_username()
    setInterval(check_username, 2000)
    var username

    async function check_username(){
        if ($('#username').val() == username){
            return false
        }  

        if ($("#username").val().length < 3){
            $("#verif").prop('disabled', true)
            $("#verif").text('Changez votre nom')
            $("#username-check").text('Nom d\'utilisateur trop court')
            $("#username-check").css('color', 'red')
            return
        }

        username = $('#username').val()
        const res = await fetch(
            `/u/taken/${$('#username').val()}`
        )

        const resJson = await res.json()

        if (resJson.taken){
            $("#verif").prop('disabled', true)
            $("#verif").text('Changez votre nom')
            $("#username-check").text('Nom d\'utilisateur pris')
            $("#username-check").css('color', 'red')
        }else{
            $("#verif").prop('disabled', false)
            $("#verif").text('Vérifier l\'email')
            $("#username-check").text('Nom d\'utilisateur dispo')
            $("#username-check").css('color', 'green')
        }
    }

    function is_req() {
        erase()
        var valid = true
        $('input').filter('[required]').each(function () {
            if ($(this).val() === '') {
                valid = false
                $(this).addClass('is_invalid')
            }
        });
        return valid
    }

    function verif_email() {
        $("#captcha-modal").hide()
        $("#verif").addClass('loading')
        if (!is_req()) {
            return false
        }
        var entry = {
            'email': $('#email').val(),
            'name': $('#username').val(),
            'verif_image': $("#captcha").val()
        }

        console.log(entry)

        fetch(
            `${window.origin}/new`, {
            method: 'POST',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            'body': JSON.stringify(entry)
        }
        ).then(response => response.json())
            .then((data) => {
                $("#verif").removeClass('loading')
                console.warn(data)
                if (data.status == 'ok') {
                    document.location = `${window.origin}${data.url}`
                }
                else if (data.status == 'bot') {
                    flash('Vérification de carctère non-valide.')
                    window.setTimeout(()=>{window.location.reload()}, 4000)
                }
                else if (data.status == 'exists'){
                    flash('Vous possédez déjà un compte.')
                }
            })
            .catch((e) => {
                $("input").each(()=>{
                    $(this).val('')
                })
                flash('il y a eu un problème serveur, merci de nous en excuser.')
            })
    }

    function verif_captcha() {
        $("#captcha-modal").show()
        $("#confirm").click(verif_email)
    }

    window.onclick = function (event) {
        if (event.target == $("#captcha-modal")) {
            $("#captcha-modal").hide()
        }
    }
    $("#close-modal").click(()=> {$("#captcha-modal").hide()})
    $("#verif").click(verif_captcha)
</script>
{% endblock %}