<h1 id="content">

</h1>
<script>
	fetch('http://127.0.0.1:5000/')
    .then(
        response => response.text()
	)
    .then(tables => document.getElementById('content').innerHTML = tables)
</script>