.account-content {
    margin: 1em 1em;
}

.account-header {
    display: flex;
}

.propic {
    max-height: 100px;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.account-propic {
    margin: 1em 1em;
}

.account-username {
    font-weight: 800;
}

.account-stats {
    display: flex;
    justify-content: space-between;
}

.account-stat-item {
    margin: 1em 1em;
    color: rgb(28, 28, 28);
}