@font-face {
    font-family: sound_font;
    /* src: url('/static/fonts/PPMigra-Variable.ttf') format('ttf'); */
    src: url('/static/fonts/PPAgrandir-Variable.ttf');
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: sound_font;
    /* src: url('/static/fonts/big.woff') format('woff'), url('https://portal.azure.com/Content/fonts/segoe-ui/west-european/light/latest.ttf') format('truetype'); */
    /* src: url('/static/fonts/PPMigra-Variable.ttf') format('ttf'); */
    src: url('/static/fonts/PPAgrandir-GrandMedium.woff');
    font-weight: 900;
    font-style: normal
}

@font-face {
    font-family: sound_font;
    /* src: url('/static/fonts/sub_big.woff') format('woff'), url('https://portal.azure.com/Content/fonts/segoe-ui/west-european/semibold/latest.ttf') format('truetype'); */
    /* src: url('/static/fonts/PPMigra-Variable.ttf') ; */
    src: url('/static/fonts/PPAgrandir-Variable.ttf');
    font-weight: bold;
    font-style: normal
}

@font-face {
    font-family: sound_font;
    /* src: url('/static/fonts/regular.woff2') format('woff'), url('https://portal.azure.com/Content/fonts/segoe-ui/west-european/bold/latest.ttf') format('truetype'); */
    /* src: url('/static/fonts/PPMigra-Variable.ttf'); */
    src: url('/static/fonts/apollo.ttf');
    /* src: url('/static/fonts/comic-neue/comic-neue_regular.ttf'); */
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: sound_font;
    src: url('/static/fonts/PPMigra-Variable.ttf');
    font-weight: 800;
}

@font-face {
    font-family: sound_font_migra;
    src: url('/static/fonts/PPMigra-Variable.ttf');
}


:root {
    --main-bg-color: white;
    --complementary-color: #d44b0b;
    --complementary-darken-color: #c0450c;
    --complementary-lighten-color: rgb(234, 87, 18);
    --primary-color:#0078d4;
    --header-bg: rgb(23, 23, 23) ;
}  

body{
    margin: 0 !important;
    background-color: var(--main-bg-color);
    font-family: sound_font;
}

a{
    color: #0a58ca;
    text-decoration: none;
    cursor: pointer;
}

a:hover{
    text-decoration: underline;
}
