@keyframes load {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

.switch-btn {
    width: 100%;
    border: solid 1px rgb(0, 0, 147);
    border-radius: 3px;
    background-color: transparent;
    font-size: 80%;
    cursor: pointer;
}

.play-btn{
    background-color: rgba(214,51,132, 0.5);
    border-radius: 1rem;
    padding: 7px;
    border: solid 1px black;
    box-shadow: 2px 2px black ;
    transform: translate(-.1rem,-.1rem);
    box-shadow: .1rem .1rem #000;
}

.play-btn:active{
    transform: translate(0rem,0rem);
    box-shadow: none;
}

.btn{
    background-color: rgba(214,51,132, 0.5);
    font-size: 1rem;
    line-height: 1.5;
    padding: .75rem 1rem;
    border: solid .0625rem #000;
    color: #000;
    border-radius: .25rem;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: minmax(0, -webkit-max-content);
    grid-auto-columns: minmax(0, max-content);
    display: inline-grid;
    align-items: center;
    justify-content: center;
    grid-gap: .5rem;
    gap: .5rem;
    cursor: pointer;
    text-decoration: none;
    flex-shrink: 0;
    transition: all .14s ease-out;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.btn:hover {
    transform: translate(-.25rem,-.25rem);
    box-shadow: .25rem .25rem #000;
    background-color: rgba(112, 44, 249, 0.426);
    outline: none;
    border: 1px solid #2e2e2e;
}

.btn:active {
    transform: translate(0rem,0rem);
    box-shadow: none;
}


.btn-page{
    background-color: rgba(51, 89, 214, 0.5);
    font-size: .7rem;
    line-height: 1;
    padding: .5rem .3rem;
    border: solid .0625rem #000;
    color: #000;
    border-radius: .25rem;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: minmax(0, -webkit-max-content);
    grid-auto-columns: minmax(0, max-content);
    display: inline-grid;
    align-items: center;
    justify-content: center;
    grid-gap: .5rem;
    gap: .5rem;
    cursor: pointer;
    text-decoration: none;
    flex-shrink: 0;
    transition: all .14s ease-out;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;   
}

.btn-page:hover{
    transform: translate(-.25rem,-.25rem);
    box-shadow: .25rem .25rem #000;
    background-color: rgba(112, 44, 249, 0.426);
    outline: none;
    border: 1px solid #2e2e2e;
}

.btn-page:active{
    transform: translate(0rem,0rem);
    box-shadow: none;
}


.follow-btn{
    color: rgb(255, 43, 43);
    background-color: #bad6ff;
    font-size: .7rem;
    line-height: 1;
    padding: .5rem .5rem;
    border: solid .0625rem #000;
    color:black ;
    border-radius: .25rem;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: minmax(0, -webkit-max-content);
    grid-auto-columns: minmax(0, max-content);
    display: inline-grid;
    align-items: center;
    justify-content: center;
    grid-gap: .5rem;
    gap: .5rem;
    cursor: pointer;
    text-decoration: none;
    flex-shrink: 0;
    transition: all .14s ease-out;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;   
}

.follow-btn:hover{
    transform: translate(-.25rem,-.25rem);
    box-shadow: .25rem .25rem #000;
    background-color: #abccff;
    outline: none;
    border: 1px solid #2e2e2e;
}

.follow-btn:active{
    transform: translate(0rem,0rem);
    box-shadow: none;
}

.loading::before{
    content: url('/static/icons/loading.svg');
    color: white;
    animation: load 2s infinite;
}