
body{
    margin: 0 !important;
    background-color: var(--main-bg-color);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a{
    color: #0a58ca;
    text-decoration: none;
    cursor: pointer;
}

a:hover{
    text-decoration: underline;
}

.post{
    padding: 1em 2em;
}

.card{
    max-width: 75vw;
    position: relative;
    border: solid 1px rgb(220, 220, 220) ;
    margin: 0 auto;
}

.card-title{
    background-color: #0a57ca47;
    padding: 1em 2em;
}

.card-body{
    padding: 1em 2em;
}

.flash{
    position: absolute;
    top: 7%;
    right: 5%;
    display: flex;
    justify-content: space-between;
    transition: all .2s;
    color:#555;
	border-radius:10px;
	padding:10px 36px;
    
    font-size: small;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.flash:hover{
    background-color: rgba(255, 255, 255, 0.763);
    transition: all .2s;
}

.flash-good{
    border-color: green;
}

.flash-bad{
    background:#ffecec url('/static/images/error.png') no-repeat 10px 50%;
	border:1px solid #f5aca6;
}

.flash-good{
    background:#e9ffd9 url('/static/images/success.png') no-repeat 10px 50%;
    border:1px solid #a6ca8a;
}

.close-flash{
    margin-left: 10px;
    cursor: pointer;
}

.navbar{
    background-color: #f3f5f6;
    color: black;
    font-weight: 600;
    font-size: 90%;
    display: flex;
    justify-content: space-between;
}

.nav_bar_icon{
    margin-right: 10px;
    display: flex;
    align-items: center;
}

.nav-link{
    color: inherit;
    font-weight: normal;
    font-size: 90%;
    transition: all 0.2s;
}

.nav-link:hover{
    text-decoration: none;
    background-color: rgb(228, 228, 228);
    transition: all 0.2s;
}

.nav-tab{
    border: solid 1px rgb(226, 226, 226);
    padding: 0.3em;
    flex:  auto;
    text-align: center;
}


small.description{
    color: #555;
    text-align: center;
}

.sidebar{
    flex: 0 auto;
    height: 100vh;
    width: 200px;
    background-color: var(--main-bg-color);
    padding: 10px 0px;
    box-shadow: 0 6.4px 14.4px 0 rgba(0,0,0,.132),0 1.2px 3.6px 0 rgba(0,0,0,.108);
    transition: all 0.2s;
}


.btn{
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    padding: 3px 6px;
    font-size: 80%;
    line-height: 1.42857143;
    border-radius: 4px;
}

.btn:hover,
.btn:focus{
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
    text-decoration: none;
}

.page-header{
    font-size: large;
    font-weight: 600;
    padding: 1em 2em ;
}

.page-description{
    font-size: medium;
    font-weight: normal;
}

.main-with-sidebar{
    display: flex;
}

.side-close{
    width: 0px;
    transition: all 0.2s;
}

.breadcrumb{
    font-size: small;
}


.container{
    flex: 1 auto;
}

.side-nav-list{
    list-style: none;
    padding-inline-start: 0px !important;
}

.side-nav-elem{
    padding: 5px 10px;
}

.side-nav-link{
    color: black;
}

.side-nav-elem:hover{
    background-color: var(--complementary-color);
    color: whitesmoke !important;
    transition: all 0.2s;
}

.vs_icon{
    vertical-align: -2px;
    margin-right: 5px;
}


/* DOWNLOADS LIST */

.download-list{
    padding: 1em;
}

.download-table{
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    width: 100%;
    border: solid 1px rgb(3, 3, 94);
}

.download-table thead tr {
    background-color: rgba(0, 54, 154, 0.249);
    text-align: left;
}

.download-table th,
.download-table td {
    padding: 12px 15px;
    border: solid 1px rgba(169, 169, 169, 0.418);
}

.download-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.download-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.download-table tbody tr:last-of-type {
    border-bottom: 1px solid rgb(3, 3, 94);
}

.download-table tbody tr.active-row {
    font-weight: bold;
}

/* END OF DOWNLOAD LIST */