.error-content{
    margin: 1em 5em;
}

.error-people{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.error-title{
    text-align: center;
    font-size: 200%;
    margin-bottom: 1em;
}

.error-not-fire{
    margin: 2em 2em;
    text-align: center;
}