.footer{
    padding: 1em;
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.01), rgba(255, 255, 255, 1) 85%), radial-gradient(ellipse at top left,
        rgba(13,110,253, 0.5), transparent 50%),
        radial-gradient(ellipse at top right, rgba(255,228,132, 0.5), transparent 50%),
        radial-gradient(ellipse at center right, rgba(112.520718,44.062154,249.437846, 0.5), transparent 50%),
        radial-gradient(ellipse at bottom left, rgba(214,51,132, 0.5), transparent 50%);
    
}

.footer-title{
    font-weight: 600;
    margin: 1em;
}

.footer-subtitle{
    margin-bottom: 10px;
    font-weight: 600;
}

.footer-content{
    display: flex;
}


.footer-col{
    margin-right: 2rem;
}

.footer-item{
    font-family: sound_font_migra;
    font-size: 80%;
    margin: 3px;
}