.section-index{
    background-color: #fff988a5;
    padding: 1rem;
}

.section-title{
    font-weight: 800;
    font-size: x-large;
    margin: 50px;
    margin-bottom: 40px;
}

.section-cards{
    display: flex;
    justify-content: space-around;
    padding: 50px;
}

.card{
    max-width: 45vw;
}

.card-title{
    font-weight: bold;
    font-size: larger;
    margin-bottom: 30px;
}

.card-content{
    font-size:large ;
    max-width: 400px;
}

