.individual-song {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: rgb(250, 250, 250);
    border: solid 1px rgb(200, 200, 200);
    border-radius: 4px;
    margin: 1em 0;
    padding: 1em;
    transition: all .3s;
}

.individual-song {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: rgb(250, 250, 250);
    border: solid 1px #c3c3c3;
    border-radius: 4px;
    margin: 1em 0;
    padding: 1em;
    transition: all .3s;
}



.individual-song:hover {
    border: solid 2px #0068FF;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .3), 0 2px 6px 2px rgba(60, 64, 67, .15);
    transition: all .3s;
}

.songs-feed {
    padding: 2em 4em;
}

.song-content {
    display: flex;
    width: 20vw;
    align-items: left;
}

.song-content-details {
    align-items: left;
}

.song-content, .song-extract, .song-buy, .song-long {
    align-self: center;
    align-items: center;
    margin: 0em 1em ;
}



.song-img-container {
    flex: 1 1;
    margin-right: 1em;
    align-self: center;
    max-width: fit-content;
}

.song-img {
    max-width: 50px;
    max-height: 50px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.song-title {
    font-weight: 800;
    font-size: large;
    padding-right: 1em;
    margin-bottom: 8px !important;
}

.song-artist {
    font-size: small;
}

.song-proposal {
    text-align: center;
    padding: 1em;
    margin: 1em;
}

.song-p-content {
    font-size: 150%;
    font-weight: 800;
    margin: 1em 2em;
}

.song-purchase{
    align-self:center;
}


.to-explore-btn {
    border-radius: 3px;
    padding: 0.5em 2em;
    color: rgb(47, 47, 47);
    background-color: #fff988a5;
    border: solid 1px rgb(0, 0, 0);
    transition: all .2s;
    cursor: pointer;
}

.to-explore-btn-small {
    size: 80%;
}

.to-explore-btn:hover {
    transition: all .2s;
    box-shadow: 5px 5px 0px 0px black;
}