<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <link rel="stylesheet" href="/static/styles/download_style.css">
    <title>{% block title %}{% endblock %}</title>
    <link rel="icon" href="/static/icons/favicon.ico" type="image/x-icon">
    <script src="/static/scripts/errors.js"></script>
</head>

<body>

    <div class="navbar">
        <div class=" nav-tab" id="topnav_hamburger_icon" href="javascript:void(0);" onclick="showResponsiveMenu()">
            <svg width="16" height="16" viewBox="0 0 16 16" fill="black" xmlns="http://www.w3.org/2000/svg">
                <path d="M16 5H0V4H16V5ZM16 13H0V12H16V13ZM16 8.99218H0V8H16V8.99218Z" fill="black" />
            </svg>
        </div>
        <a class="nav-link nav-tab" href="/d">Acquisitions</a>
        <a class="nav-link nav-tab" href="/d/s">Rechercher</a>
        <a class="nav-link nav-tab" href="/account">Mon profile</a>
        <a class="nav-link  nav-tab" href="/">Apollo</a>
    </div>
    </div>
    <div class="main-with-sidebar">
        <aside class="sidebar side-close" id="sidebar-id">
            <ul class="side-nav-list" id="sidebar-list-id" style="display: none;">
                <li class="side-nav-elem">
                    <a href="/" class="side-nav-link">
                        <svg class="vs_icon" width="16" height="16" viewBox="0 0 16 16" fill="currentColor"
                            xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" fill="currentColor"
                                d="M8.36027 1.37L14.7203 7.16999L14.0103 7.87999L13.0003 6.96411V13.49L12.5003 13.99H9.50028L9.00028 13.49V9.99002H7.00028V13.49L6.50028 13.99H3.50028L3.00028 13.49L3.00028 6.97166L2.00028 7.87999L1.29028 7.16999L7.64027 1.37H7.65027H8.35027H8.36027ZM4.00028 6.06332V12.99H6.00028V9.49002L6.50028 8.99001H9.50028L10.0003 9.49002V12.99H12.0003V6.05729L8.00027 2.43L4.00028 6.06332Z"
                                fill="#424242" />
                        </svg>Home
                    </a>
                </li>
                <li class="side-nav-elem">
                    <a href="/logout" class="side-nav-link">
                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M11.0203 3.77V5.33L12.0203 4.34V2.5L11.5203 2H2.52026L2.02026 2.5V2.98599L2.00024 3.00003V13.29L2.36024 13.75L7.36024 15.47L8.00024 15V13.9999H11.5203L12.0203 13.4999V12.9999V11.6899L11.0203 10.6899V12.9999H8.00024V4.71003L7.67024 4.25003L4.03644 3H7.02026H11.0203V3.77ZM7.00024 14.28L3.00024 12.94V3.72003L7.00024 5.06003V14.28ZM13.5202 8.48005H8.55023V7.48005H13.4802L11.8802 5.88005L12.5902 5.18005L15.0602 7.64005V8.35005L12.5702 10.8301L11.8702 10.1301L13.5202 8.48005Z"
                                fill="#424242" />
                        </svg>

                        Se déconnecter</a>
                </li>
                <li class="side-nav-elem">
                    <a href="/" class="side-nav-link">
                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M1.75021 5.75V1.75H3.25021V4.2916C4.39521 2.93303 6.16119 2.08334 8.09104 2.08334C11.267 2.08334 14.0108 4.39036 14.2495 7.48075L14.2703 7.75H12.7692L12.7473 7.5241C12.5348 5.32932 10.5451 3.58334 8.09104 3.58334C6.35498 3.58334 4.84739 4.45925 4.04146 5.75H6.87033V7.25H2.7082L1.74673 6.27493V5.75H1.75021ZM8.00021 14C6.89564 14 6.00021 13.1046 6.00021 12C6.00021 10.8954 6.89564 10 8.00021 10C9.10478 10 10.0002 10.8954 10.0002 12C10.0002 13.1046 9.10478 14 8.00021 14Z" fill="currentColor"/>
                            </svg>
                        Retour</a>
                </li>
                <li class="side-nav-elem">A</li>
                <li class="side-nav-elem">A</li>
            </ul>
        </aside>
        <div id="message-space">
            {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
            {% for category, message in messages %}
            <div class="flash flash-{{category}}" id="flash-id" title="Message : {{message}}">
                {{ message }}
                <div class="close-flash" onclick="close_flash()" title="Fermer le message">
                    <svg width="16" height="16" style="vertical-align: -2px;" viewBox="0 0 16 16" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M8.00028 8.70711L11.6467 12.3536L12.3538 11.6465L8.70739 8.00001L12.3538 4.35356L11.6467 3.64645L8.00028 7.2929L4.35384 3.64645L3.64673 4.35356L7.29317 8.00001L3.64673 11.6465L4.35384 12.3536L8.00028 8.70711Z"
                            fill="#424242" />
                    </svg>

                </div>
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}
        </div>
        <div class="container">
            {% block content %}{% endblock %}
        </div>
    </div>
</body>
<script>
    function showResponsiveMenu() {
        var cls = document.getElementById("sidebar-id").classList
        if (!cls.contains('side-close')) {
            cls.add('side-close')
            document.getElementById('sidebar-list-id').style.display = 'none'
        } else {
            cls.remove('side-close')
            document.getElementById('sidebar-list-id').style.display = 'block'
        }
    }

    function close_flash() {
        $('#flash-id').hide()
    }
</script>

</html>