{% extends 'download_templates/base_down.html' %}

{% block content %}

<div class="page-header">
        Les acquisitions
        <p class="page-description">
                Ici, vous avez accès à toutes les acquisitions musicales que vous avez fait sur Apollo. Cliquez sur «Détails» pour en savoir plus.
        </p>
</div>
<div class="download-list">
        <table class="download-table">
                <thead>
                        <tr>
                                <th>
                                        Title
                                </th>
                                <th>
                                        Acquisition
                                </th>
                                <th>
                                        Longueur
                                </th>
                                <th>
                                        Action
                                </th>
                        </tr>
                </thead>
                <tbody id="down-list">
                       
                </tbody>
        </table>
{% if long > 0 %}
{% for element in downloads %}
<script>
        async function song_infos() {

                var entry = { 'song_id': "{{element['D_downloadedItem']}}" };
                const response = await fetch("/s/i", {
                        method: "POST",
                        headers: { "Content-Type": "application/json" },
                        body: JSON.stringify(entry),
                });
                var song = await response.json();
                var time = song.length
                var minutes = Math.floor(time / 60)
                var seconds = time - minutes * 60;
                console.log(song)
                $("#down-list").append(`
                        <tr class="individual-download">
                                <td class="download-title">
                                        ${song.title}
                                </td>
                                <td>
                                        <a href="/d/{{element['D_id']}}">Détails</a>
                                </td>
                                <td class="download-purchase">
                                        ${minutes}min ${Math.floor(seconds)}
                                </td>
                                <td>
                                        <a class="btn" href="/d/save/{{element['D_id']}}">Télécharger</a>
                                </td>
                        </tr>
                        `
                )
        }
        song_infos()
</script>
{% endfor %}
{% else %}
<small class="description">
        Vous n'avez acquis aucune musique
</small>
</div>
{% endif %}

{% endblock %}