{% extends 'download_templates/base_down.html' %}

{% block content %}

{% if not download['D_id'] %}
<script>
        flash('Vous n\'avez pas d\'acquisition associée')
</script>
{% else %}
<div class="post">
        <div class="page-header">
                Détails de l'acquisition
        </div>
        <div class="card">
                <div class="card-title" id="card-title">
                        Chargement...
                </div>
                <div class="card-body">
                        <table class="download-table">
                                <tbody>
                                        <tr>
                                                <td>
                                                        Télégargements
                                                </td>
                                                <td>
                                                        {{download['D_downoaldsNbr']}}
                                                </td>
                                        </tr>
                                        <tr>
                                                <td>
                                                        Musique
                                                </td>
                                                <td id="music">
                                                        chargement...
                                                </td>
                                        </tr>
                                        <tr>
                                                <td>
                                                        Prix
                                                </td>
                                                <td id="prix">
                                                        chargement...
                                                </td>
                                        </tr>
                                        <tr>
                                                <td>
                                                        Date d'acquisition
                                                </td>
                                                <td id="">
                                                        {{download['D_created_at'].strftime('%d/%m/%Y à %H:%M') }}
                                                </td>
                                        </tr>
                                        <tr>
                                                <td>
                                                        Reçu de Stripe
                                                </td>
                                                <td>
                                                        <a id="receipt-link" target="_blank">Chargement...</a>
                                                </td>
                                        </tr>
                                </tbody>
                        </table>
                </div>
        </div>
        <a href="/d/save/{{download['D_id']}}">Télécharger</a>
</div>
<script>
        async function get_infos() {
                var entry = { 'song_id': "{{download['D_downloadedItem']}}" , "payment": "{{download['D_intent']}}"};
                const response = await fetch("/s/i", {
                        method: "POST",
                        headers: { "Content-Type": "application/json" },
                        body: JSON.stringify(entry),
                });
                var song = await response.json();
                console.log(song)
                $("#prix").empty()
                $("#prix").text(song.amount / 100 + "€")

                $('#music').empty()
                $("#music").text(song['title'])

                $('#card-title').empty()
                $("#card-title").text(song['title'])

                $("#receipt-link").empty()
                $("#receipt-link").html(`Reçu <svg class="vs-icon" width="12" height="12" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
<path d="M1.50024 1.00006L6.00024 1V2L2.00024 2.00006V14.0001H14.0002V10.0001H15.0002V14.5001L14.5002 15.0001H1.50024L1.00024 14.5001V1.50006L1.50024 1.00006Z" fill="currentColor"/>
<path d="M15.0003 1.50006L15.0003 8.00003H14.0003L14.0003 2.70716L7.24293 9.46451L6.53583 8.7574L13.2932 2.00006L8.00028 2.00006V1.00006H14.5003L15.0003 1.50006Z" fill="currentColor"/>
</svg>
`)
                $("#receipt-link").attr('href', song['receipt'])
        }

        get_infos()
</script>
<code>{{download}}</code>
{% endif %}


{% endblock %}