{% extends 'base.html' %}

{% block content %}
<div class="header-center hb-no-bg">
        <div class="header-big-title header-center-title">
            Bienvenue !
        </div>
        <div class="header-sub-title">
            Votre compte Apollo a bien été créé.
        </div>
        <div class="header-sub-title">
            <a href="/login">connectez vous</a>
        </div>
</div>

{% endblock %}
