{% extends 'base.html' %}
{% block title %}Email envoyé{% endblock %}
{% block content %}
<div class="header-center hb-no-bg">
    <div>
        <div class="header-big-title">
            Email de vérification envoyés
        </div>
        <div class="header-sub-title">
            Cliquez sur le lien de l'email pour activer votre compte
        </div>
        <div class="header-button-space">
            <button class="form-submit" onclick="home()">
                Accueil
            </button>
        </div>
    </div>
</div>
<script>
    function home(){
        document.location.href = '/'
    }
</script>
{% endblock %}